page-home {

  .nominee {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    z-index: 0;

    @include display-flex();
		@include justify-content(center);
		@include align-items(center);

    &:nth-child(2) {
      top: 50%;
      bottom: 0%;
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, 0.6);
      z-index: 1;
    }

    .votes {
      z-index: 2;
    }

    ion-icon {
      font-size: 50px;
    }

    h1 {
      font-size: 5em;
      line-height: 70px;
    }

    h1, h4 {
      margin-top: 0px;
      color: #FFF;
    }

  }

}
